# Environment file for LSST @ NCSA

parameters:
   flavor: m1.medium
   key_name: lsst-fabricejammes-qserv 
   network_name: LSST-net 
   prefix: fjammes-qserv 
   public_network: ext-net
   qserv_image_id: d36cc0c5-474f-477d-a62d-3df3b8988005 
   subnet_name: 2f2a1da4-1234-4c23-be98-0e57c130c342 
